<div class="card">
  <h2>Emitir Termo</h2>

  <form [formGroup]="termoForm" (ngSubmit)="onSubmit()" class="form-grid">

    <div class="campo campo--full">
      <label>Tipo de termo</label>
      <select formControlName="tipoTermo">
        <option value="devolucao">Devolução</option>
        <option value="responsabilidade">Responsabilidade</option>
      </select>
    </div>

    <div class="campo">
      <label>Nome</label>
      <input type="text" formControlName="nome" />
      <span class="erro" *ngIf="termoForm.get('nome')?.invalid && termoForm.get('nome')?.touched">
        Campo obrigatório
      </span>
    </div>

    <div class="campo">
      <label>Cargo</label>
      <input type="text" formControlName="cargo" />
      <span class="erro" *ngIf="termoForm.get('cargo')?.invalid && termoForm.get('cargo')?.touched">
        Campo obrigatório
      </span>
    </div>

    <div class="campo">
      <label>Unidade</label>
      <input type="text" formControlName="unidade" />
    </div>

    <div class="campo">
      <label>Registro CREA-SP</label>
      <input type="text" formControlName="registroCrea" />
    </div>

    <div class="campo">
      <label>Patrimônio/Simpress N°</label>
      <input type="text" formControlName="patrimonio" />
      <span class="erro" *ngIf="termoForm.get('patrimonio')?.invalid && termoForm.get('patrimonio')?.touched">
        Campo obrigatório
      </span>
    </div>

    <div class="campo">
      <label>Equipamento</label>
      <input type="text" formControlName="equipamento" placeholder="Ex: Notebook Dell Latitude" />
      <span class="erro" *ngIf="termoForm.get('equipamento')?.invalid && termoForm.get('equipamento')?.touched">
        Campo obrigatório
      </span>
    </div>

    <div class="campo--full">
      <button type="submit">Gerar termo</button>
    </div>

  </form>
</div>